<bio>
    <h2>Bio:</h2>
    <p>My name is Jan Kwong. I am a Computer Science student at UC San Diego, expecting to graduate in <ins>June 2025</ins>. I have a passion for software engineering and higher education research. I have been an Undergraduate Research Assistant at the UCSD LASR Lab, where I participated in a project on forced aligners and neural networks for phonetic recognition. I was also a computer science tutor at my school for the course of Theory of Computability.</p> 

    <p>In my research assistant role, I read and analyzed papers on different ASR models, such as <dfn id="def-whisper">Whisper</dfn>, an ASR model by Open-AI, and implemented programs that calculate the word error rate of the recognized speech output. I used Git as a version control tool and collaborated with other researchers and supervisors.</p> 

    <p>In my computer science tutor role, I held weekly office hours for students, explained course concepts patiently, and discussed concerns with the instructor. I also graded homework and exams from students, giving them insightful and useful feedback.</p> 

    <p>I enjoy working with students and researchers who share my interest in learning and innovation. I value diversity, collaboration, and feedback, and I believe that I can bring unique perspectives and experiences to the team.</p>
</bio>