<footer>
    <address>Contact me at: <a href="mailto:jykwong@ucsd.edu">jykwong@ucsd.edu</a></address>
    <address>LinkedIn: <a href="https://www.linkedin.com/in/jankwong705/">https://www.linkedin.com/in/jankwong705/</a></address>
</footer>
<style>
    footer {
        padding: 1rem;
        font-size: larger;
        font-variant: small-caps;
    }
    address {
        font-weight: 300;
        text-align: left;
    }
</style>